{% comment %}
  Renders a collection card

  Accepts:
  - card_collection: {Object} Collection Liquid object
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - columns: {Number}
  - extend_height: {Boolean} Card height extends to available container space. Default: false (optional)
  - wrapper_class: {String} Wrapper class for card (optional)

  Usage:
  {% render 'card-collection' %}
{% endcomment %}

<a href="{{ card_collection.url }}">
{{ card_collection.featured_image | image_url: width: 512 | image_tag }}
</a>
<h3>
  <a href="{{ card_collection.url }}">
    {{ card_collection.title }}
  </a>
</h3>
